.App {
  text-align: center;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: cadetblue;
  max-width: 600px;
  width: 400px;
  margin: 10px auto;
  min-height: 150px;
  border-radius: 8px;
  color: #fff;

}

.contact-card img {
  width: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.user-details {
  display: flex;
  flex-direction: column;
  line-height: 0px;
  align-items: start;
}